:root {
    --background: #3A3A4D;
    --tile-color: yellowgreen;
    --color: #efefef;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}



#list {
    min-width: 348px;
    max-width: 348px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.tile {
    display: block;
    position: absolute;
    background-color: var(--tile-color);
    color: var(--background);
    padding: 5px;
    font-weight: bold;
}

.layout {
    color: var(--color);
    margin-bottom: 15px;
}

.layout label {
    margin-right: 15px;
    cursor: pointer;
}

.layout label:hover {
    color: var(--tile-color);
}

.layout input {
    margin-right: 3px;
}